spring:
  application:
    name: credit-service
  
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/credit_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:123321}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${SERVER_PORT:8080}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

jwt:
  signing-key: ${JWT_SIGNING_KEY:asfu2347tyca49999304icfj3oi4ucn498cy98wieifklsdhufaosidknfaiesrudhei57hslgoay39jsdferpxcvsejrhejrhqi2u3arqvcj164pneu8dhebxjsdjrjudj235bmsdfsfdprlarutekjfnfndjkigarakrtnvmdlpt33j5i17jvnm}
  issuer: ${JWT_ISSUER:}
  audience: ${JWT_AUDIENCE:}

core-service:
  url: ${CORE_SERVICE_URL:https://core.hits-playground.ru}
  api-key: ${CREDIT_SERVICE_KEY:SUPER_SECRET_RACOON_KEY_FROM_CREDIT_TO_CORE}

app:
  server-url: ${APP_SERVER_URL:}

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic
