spring:
  application:
    name: credit-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/credit_db
    username: postgres
    password: 123321
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

jwt:
  signing-key: asfu2347tyca49999304icfj3oi4ucn498cy98wieifklsdhufaosidknfaiesrudhei57hslgoay39jsdferpxcvsejrhejrhqi2u3arqvcj164pneu8dhebxjsdjrjudj235bmsdfsfdprlarutekjfnfndjkigarakrtnvmdlpt33j5i17jvnm
